html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#formulario-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    margin: 0px;
    padding: 0px;

    scrollbar-color: #999999 rgba(0,0,0,0);
    scrollbar-width: thin;
    overflow: auto;
}

#formulario-wrap{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;

    transition: width 0.15s;

}
#formulario-img{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 100%;
}

#formulario-opcional,
#formulario-obligatorio-si-causal,
#formulario-obligatorio-no-causal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.formulario-punto-opcional,
.formulario-punto-obligatorio-si,
.formulario-punto-obligatorio-no{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.formulario-punto-opcional::after,
.formulario-punto-obligatorio-si::after,
.formulario-punto-obligatorio-no::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 2px;
}

.formulario-punto-opcional::after{
    background-color: rgba(178,234,42, 0.6);
}
.formulario-punto-obligatorio-si::after{
    background-color: rgba(237,28,36, 0.6);
}
.formulario-punto-obligatorio-no::after{
    background-color: rgba(124,56,148, 0.6);
}

.signo{
    position: absolute;
    cursor: pointer;
    z-index: 9;
}
.signo-right{
    width: auto;
    height: 100%;
    left: 100%;
    left: calc(100% + 10px);
    left: -moz-calc(100% + 10px);
    top: 0px;
}
.signo-right img{
    display: block;
    height: 100%;
    width: auto;
    margin: 0px;
}

.formulario-off{
    visibility: hidden;
}
.formulario-on{
    visibility: visible;
}

.formulario-on .formulario-punto-opcional::after,
.formulario-on .formulario-punto-obligatorio-si::after,
.formulario-on .formulario-punto-obligatorio-no::after{
    animation: animacion-parpadeo 1s infinite linear forwards;
}
@keyframes animacion-parpadeo{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/****************/

#tooltip{
    position: absolute;
    width: 350px;
    height: auto;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.3);
    z-index: 10;
}
#tooltip p{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'HelveticaNeueMedium';
    font-size: 15px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
#tooltip-cerrar{
    outline: none;
    outline-width: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #58595b;
    border: none;
    top: -11px;
    right: -11px;
    cursor: pointer;
}
#tooltip-cerrar::after,
#tooltip-cerrar::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #fff;
    border-radius: 2px;
    top: 50%;
    top: calc(50% - 6px);
    top: -moz-calc(50% - 6px);
    left: 50%;
    left: calc(50% - 1px);
    left: -moz-calc(50% - 1px);
}
#tooltip-cerrar::after{
    transform: rotate(-45deg);
}
#tooltip-cerrar::before{
    transform: rotate(45deg);
}

.tooltip-off{
    opacity: 0;
    transform: translateY(-100%) translateX(-50%) scale(0.5);
    visibility: hidden;

    transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
}
.tooltip-on{
    opacity: 1;
    transform: translateY(-100%) translateX(-50%) scale(1);
    visibility: visible;

    transition: opacity 0.25s, transform 0.25s, visibility 0s;
}

/****************/

#formulario-checks{
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
    gap: 15px;
}

.formulario-check{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
.formulario-check-input{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0);
    border: #fff solid 2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: background-color 0.2s, border 0.2s;
}
.formulario-check-input img{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: scale(0.5);

    transition: opacity 0.2s, transform 0.2s;
}
.formulario-check > p{
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'HelveticaNeueRoman';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}

.formulario-checked .formulario-check-input{
    background-color: rgba(255,255,255,1);
    border: #fff solid 2px;
}
.formulario-checked .formulario-check-input img{
    opacity: 1;
    transform: scale(1);
}

/****************/

#formulario-buttons{
    position: absolute;
    width: 45px;
    height: 100px;
    left: 20px;
    bottom: 0px;
    bottom: calc(0px + 70px + 20px);
}

.formulario-zoom-btn{
    outline: none;
    outline-width: 0;
    display: block;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    border: none;
    background-color: #d61921;

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    transition: box-shadow 0.2s, background-color 0.2s;
}
.formulario-zoom-btn::after,
.formulario-zoom-btn::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    top: 50%;
    top: calc(50% - 12.5px);
    top: -moz-calc(50% - 12.5px);
    left: 50%;
    left: calc(50% - 2.5px);
    left: -moz-calc(50% - 2.5px);
    background: #ffffff;
}
.formulario-zoom-btn:hover{
    cursor: pointer;
    background-color: #b51a25;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}
#formulario-zoom-in{
    margin-bottom: 10px;
}
#formulario-zoom-out::before,
#formulario-zoom-out::after,
#formulario-zoom-in::before{
    transform: rotate(90deg);
}
#formulario-zoom-in::after{
    transform: rotate(0deg);
}

/*********************/
#instrucciones{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}
.instrucciones-on{
    visibility: visible;
    filter: blur(0px);
    opacity: 1;
}
.instrucciones-off{
    visibility: hidden;
    filter: blur(20px);
    opacity: 0;

    transition: filter 0.5s, opacity 0.5s, visibility 0.5s;
}
#instrucciones-box{
    position: relative;
    width: 500px;
    height: auto;
    border-radius: 12px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;

    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.8);
}
#instrucciones-box > p,
#instrucciones-box > ul li{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;

    font-family: 'HelveticaNeueRoman';
    font-size: 16px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
#instrucciones-box > p span{
    font-family: 'HelveticaNeueMedium';
}
#instrucciones-box > ul{
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
#instrucciones-box > ul li{
    box-sizing: border-box;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-size: 15px;
    background-image: url(../images/icon-list.svg);
    margin-bottom: 5px;
    text-align: left;
}

#instrucciones-box > button{
    position: relative;
    outline: none;
    outline-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #D61921;
    top: 0px;
    box-shadow: 0px 3px 0px 1px #840F18;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'HelveticaNeueMedium';
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    transition: top 0.2s, box-shadow 0.2s;
}
#instrucciones-box > button:hover{
    top: 3px;
    box-shadow: 0px 0px 0px 0px #B51A25;
}