@media (min-width: 1542px){
    #instrucciones-box{
        width: 700px;
        padding: 25px;
    }
    #instrucciones-box > p,
    #instrucciones-box > ul li{
        font-size: 20px;
    }
    #instrucciones-box > ul li{
        padding-left: 25px;
        background-size: 18px;
    }
    
    #instrucciones-box > button{
        width: 170px;
        height: 45px;
    
        margin-top: 25px;
        font-size: 20px;
    }
}